.data-table {
  display: flex;
  flex-direction: column;
}

.data-table__row {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  //padding-bottom: 5px;
}
.data-table__row div {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}