.calculation-params {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid rosybrown;
}

.calcualtion-params__wrapper {
  display: flex;
  justify-content: stretch;
  margin-bottom: 10px;
}

.calcualtion-params__wrapper input{
  justify-self: center;
  max-width: 100px;
  margin-right: 20px;
  margin-left: 20px;
}
.calcualtion-params__wrapper span {
  justify-self: end;
}